<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>historial de ticket pendiente</title>
</head>
<body>
    <div th:replace="fragmentos :: panel-lateral"></div>
    <div id="contenido-principal">
        <div id="info-ticket">
            <h2>Notebook no enciende luego de corte de luz</h2>
            <p id="descripcion-ticket"></p>
            <div id="datos-ticket">
                <span><b>CERSA</b></span>
                <span><b>29/11/2025</b></span>
                <span><b>Media</b></span>
                <span><b>Hardware</b></span>
            </div>
        </div>
        <div id="historial">
            <div class="lista-eventos">
        
        <div class="evento">
            <div class="evento-header">
                <span class="autor">Técnico (Juan)</span>
                <span class="fecha">30/11/2025 - 09:30 hs</span>
            </div>
            <p class="mensaje">Se recibió el equipo y se verificó la falla. No enciende.</p>
        </div>

        <div class="evento">
            <div class="evento-header">
                <span class="tecnico-asignado">Técnico (Juan)</span>
                <span class="fecha">30/11/2025 - 10:15 hs</span>
            </div>
            <p class="mensaje">Se solicitó presupuesto de fuente nueva al proveedor.</p>
        </div>
        <div class="nuevo-avance tarjeta"> <h4>Agregar Nota o Avance</h4>
            <form action="#">
                <textarea class="campo-form" rows="3" placeholder="Describe el trabajo realizado..."></textarea>
                
                <label for="nuevo-estado">Cambiar Estado (Opcional):</label>
                <select id="nuevo-estado" class="campo-form">
                    <option value="">Mantener estado actual</option>
                    <option value="DIAGNOSTICANDO">Diagnosticando</option>
                    <option value="en-proceso">En Proceso</option>
                    <option value="ESPERA_RESPUESTA">Esperando Repuesta</option>
                    <option value="ESPERA_CONFIRMACION">Esperando Confirmación</option>
                    <option value="RESULETO_CERRADO">Resuelto/Cerrado</option>
                </select>

                <div class="acciones">
                    <button type="submit" class="btn-primario">Guardar Avance</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>