<div th:fragment="panel-lateral" id="panel-lateral">
        <h2>FuApp</h2>
        <ul>
            <li><a th:href="@{/panel}">Dashboard</a></li>
            <!-- <li><a th:href="@{/detalle-ticket}">Tickets Pendientes</a></li> -->
            <li><a th:href="@{/nuevo-ticket}">Nuevo Ticket</a></li>
            <li><a th:href="@{/detalle-tickets-pendientes}">Tickets Pendientes</a></li>
            <li><a th:href="@{/historial-tickets}">Historial de Tickets</a></li>
            <li><a th:href="@{/nuevo-cliente}">Nuevo Cliente</a></li>
        </ul>  
        <ul>
            <li><a href="#">Ajustes</a></li>
            <li><a href="#">Cerrar Sesión</a></li>
        </ul>
    </div>