<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>FuApp Login</title>
</head>
<body class="vista-login">
    <div id="login" class="tarjeta">
        <h2>FuApp</h2>
        <form th:action="@{/autenticar}" method="post">
            <label for="usuario">Usuario:</label>
            <input name="usuario" id="usuario" class="campo-form" type="email" required>
            <label for="pass">Contraseña:</label>
            <input name="pass" id="pass" class="campo-form" type="password" required>
            <button class="btn-primario" type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>