<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>nuevo-ticket</title>
</head>
<body>
    <div th:replace="fragmentos :: panel-lateral"></div>
    <div id="contenido-principal">
        <div id="crear-ticket" class="tarjeta">
            <h3>Nuevo Ticket</h3>
            <form  th:action="@{/crear-ticket}" method="post">
                <label for="cliente">Cliente:</label>
                <input id="cliente" class="campo-form" type="text" required>
                <label for="asunto">Asunto:</label>
                <input id="asunto" class="campo-form" type="text" required>
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" class="campo-form" rows="5" required></textarea>
                <label for="prioridad">Prioridad:</label>
                <select id="prioridad" class="campo-form" required>
                    <option value="baja">Baja</option>
                    <option value="media">Media</option>
                    <option value="alta">Alta</option>
                </select>
                <label for="categoria">Categoría:</label>
                <select id="categoria" class="campo-form" required>
                    <option value="hardware">Hardware</option>
                    <option value="software">Software</option>
                    <option value="red">Red</option>
                </select>
                <div class="acciones">
                    <button type="reset" class="btn-secundario">Borrar</button>    
                    <button type="submit" class="btn-primario">Crear Ticket</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>